/* Please scroll down to the start of your exercise! */

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

section {
  background-color: lemonchiffon;
  display: grid;
  place-items: center;
}

.skyblue {
  background-color: skyblue;
}

button {
  background-color: white;
  padding: 8px 25px;
}

/* Your exercise starts here */

/* Add your CSS styles below this line. Feel free to replace the comments with your code. Make sure not to put your code into the comments, because then nothing will happen. */

.button1 {
  border-radius: 10px;
  border: 3px solid black;
}

.button2 {
  color: greenyellow;
  background-color: blue;
}

.button3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}

.button4 {
  box-shadow: 5px 5px 15px 5px #000000;
}

/* Feel free to play around with other properties, as well. */
